# To better understand this file read this:
# https://docs.ionos.space/docs/github-actions-customization/

name: "Deploy Now: Execute Build"

on:
  workflow_call:
    inputs:
      site-url:
        required: true
        type: string
      branch-id:
        required: true
        type: string

env:
  DEPLOYMENT_FOLDER: ./frontend/dist

jobs:
# Please do not rename this job
  build-project:
    name: build Scottish-Inn
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: v22.13

      - name: Build Node assets
        env:
          APP_NAME: Scottish Inn - 1960
          CI: true
          DATABASE: postgres
          DATABASE_URL: postgresql://postgres:[YOUR-PASSWORD]@db.owuixhxivozlcwhuvsbq.supabase.co:5432/postgres
          PASSWORD: 462Nn5461020
          PORT: 5432
          SITE_URL: ${{ inputs.site-url }}
          USER: postgres
          VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY: sb_publishable_B4_LvoRbfzoE1mjxv5ownA_7oTxRYfv
          VITE_SUPABASE_URL: https://owuixhxivozlcwhuvsbq.supabase.co
        run: |
          npm ci
          npm run build

# Please do not touch the following action
      - name: Store deployment content
        uses: ionos-deploy-now/artifact-action@v1
        with:
          api-key: ${{ secrets.IONOS_API_KEY }}
          service-host: api-us.ionos.space
          project-id: ef9bfbf2-61f0-4a65-9847-c9b1715ce562
          branch-id: ${{ inputs.branch-id }}
          version: ${{ github.sha }}
          folder: ${{ env.DEPLOYMENT_FOLDER }}
          config-file: .deploy-now/Scottish-Inn/config.yaml
          action: upload
